#about-me h1 {
    font-size: 5em;
}
#about-me p {
    font-size: 2em;
    margin: 40px 0 30px;
}
#about-me .photo img {
    border-radius: 50%;
    width: max(300px, 75%)
}

@media only screen and (max-width:847px){
    #about-me h1 {
        font-size: 3.5em;
    }
    #about-me p {
        font-size: 1.5em;
    }
}
