.link-card {
    display: flex;
    padding: 1px;
    border-radius: 7px;
    border: 1px solid #ddd;
    padding: 20px 15px;
    margin-bottom: 50px;
    cursor: pointer;
    position: relative;
}
.link-card:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.link-card:hover::after {
    content: '';
    position: absolute;
    top: -20px;
    right: -3px;
    background-image: url('../../public/arrow.svg');
    transition: 0.5s;
    height:40px;
    width: 40px;
}

.link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 8px;
}

.link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
}
.link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
} 