* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #333;
}
body {
    font-size: 16px;
}
a { 
    text-decoration: none;
}
section {
    padding: 100px 0;
}
h2 {
    text-align: center;
}
.container {
    padding: 15px;
    max-width: 1300px;
    margin: auto;
}
.center {
    text-align: center;
    margin: auto;
}
.box-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

.expanded {
    display: none;
}

/* dark mode */
html.dark {
    background-color: #0d0950;
    color: #fff;
}
  
.dark .nav-items a {
    color: #fff;
}
/* end dark mode */