* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    color: #555;
}
body {
    font-size: 16px;
    font-family: 'Inter Variable', sans-serif;
}
a { 
    text-decoration: none;
}
section {
    padding: 150px 0;
}
h1, h2, h3 {
    color: #333;
}
h2 {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 100px;
}
h3 {
    font-size: 1.2em
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: aliceblue;
}
.container {
    padding: 15px;
    max-width: 1250px;
    margin: auto;
}
header .container {
    padding: 20px 30px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    background-image: radial-gradient(100% 30% at 50% 0%, rgba(0, 163, 255, 0.33) 0, rgba(0, 163, 255, 0) 90%, rgba(0, 163, 255, 0) 100%);
}
.center {
    text-align: center;
    margin: auto;
}
.box-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

.img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 200px;
    outline: 2px solid #eee
}

.icons-wrapper {
    display: flex;
    align-items: center;
}
.icons-wrapper a {
    text-decoration: underline;
    font-weight: bold;
}

footer .icons-wrapper a {
    margin-right: 20px;
}

footer .icons-wrapper {
    justify-content: space-between;
}

footer .icons-wrapper div {
    display: flex;
    align-items: center;
}

.w3-center {
    text-align: center;
}

/* dark mode */
html.dark {
    background-color: #0d0950;
    color: #fff;
}
  
.dark .nav-items a {
    color: #fff;
}
/* end dark mode */


@media only screen and (max-width:600px){
    .box-content {
        grid-template-columns: 1fr;
    }
    h2 {
        font-size: 2em;
    }
    section:not(:first-of-type) {
        padding: 100px 0;
    }
    
}