* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-opensans);
  font-size: 17px;
}

main {
  max-width: 1020px;
  padding: 0 1em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-urbanist);
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong {
  font-weight: 700;
}

b {
  font-weight: 600;
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}

hr {
  border: none;
}

a {
  text-decoration: none;
}

a.btn {
  background-color: #333;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  font-weight: 600;
  min-width: 200px;
  width: max-content;
  transition: all 0.5s ease-in-out;
}

a.btn:hover {
  background-color: #000;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

table {
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 5px 0;
  border-collapse: collapse;
}

hr {
  border: none;
  border-top: #ccc solid 1px;
  margin: 20px auto;
  width: min(1000px, 95%);
  margin-top: 100px;
}

section:not(:first-of-type) {
  margin: 200px 0;
}

section:first-of-type {
  margin-top: 150px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute.right-bottom {
  bottom: 0;
  right: 0;
}

.absolute.right-top {
  top: 0;
  right: 0;
}

.absolute.center-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.absolute.center-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.bold {
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.fixed.top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.flex {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.g-2 {
  grid-template-columns: repeat(2, 1fr);
}

.g-3 {
  grid-template-columns: repeat(3, 1fr);
}

.g-4 {
  grid-template-columns: repeat(4, 1fr);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon>svg {
  vertical-align: text-bottom;
}

.img-wrapper>img,
.img-wrapper>a>img,
.img-wrapper>iframe,
.img-wrapper>video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  /* position    : absolute; */
}

.c-white {
  color: white;
}

.center-small {
  text-align: center !important;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 601px) {}

@media screen and ((min-width: 600px) and (max-width: 950px)) {}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.22em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5 {
    font-size: 1em;
  }

  .grid {
    gap: 100px;
  }

  .grid,
  .g-4,
  .g-3,
  .g-2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .hide-small {
    display: none;
  }
}
