---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Carlos J. Portfolio">
	<Header />
	<main>
		<div class="background"></div>
		<AboutMe />
		<Experience />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>

