---
import SocialIcon from './SocialIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import ThemeIcon from "./ThemeIcon.astro";
import '../styles/about.css'
import GmailIcon from '../icons/GmailIcon.astro';
const identify = {
    firstName: 'Carlos',
    lastName: 'Jimenez',
    location: 'Cd. Guzmán Jal.',
    occupation: 'Full Stack Dev',
    yearsOfExperience: 2,
    skills: [
        'HTML',
        'CSS',
        'JS',
        'PHP',
        'REACTJS',
    ]
}

const {firstName, lastName, location, occupation, yearsOfExperience, skills} = identify;
---

<section id="about-me">
    <div class="box-content container">
        <div class="box">
            <h1>Hi! <ThemeIcon /></h1> 
            <h1>I'm {firstName}</h1>
            <p>Web Developer with over {`${yearsOfExperience} years of experience as ${occupation}.`} Specializing in the development and maintenance of web solutions for businesses.</p>
            <div class="icons-wrapper">
                <SocialIcon href="https://www.linkedin.com/in/carlos-jimenez-899b4b1aa?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFBrz1inlSzW1vaOqJr4TNA%3D%3D">
                    <LinkedinIcon class="social-icon"/>
                </SocialIcon>
                <SocialIcon href="https://github.com/carlosjimenezh">
                    <GithubIcon class="social-icon" data-icon="github" />
                </SocialIcon>
                <SocialIcon href="mailto:carlosejimenezh95@gmail.com">
                    <GmailIcon class="social-icon" />
                </SocialIcon>
                <a href="">Download CV</a>
            </div>
        </div>
        <div class="box photo center">
            <img src="../../public/me.png" alt="">
        </div>
    </div>
    <!-- <ul>
        {skills.map( skill => {
            return <li>{skill}</li>        
        })}
    </ul> -->
</section>