---
import '../styles/card.css'
interface Props {
	title: string;
	body: string;
	href: string;
	imgSrc: string;
}

const { href, title, body, imgSrc } = Astro.props;
---

<a href={href} target="_blank" class="link-card">
	<div class="box-content">
		<div class="box">
			<h3>
				{title}
			</h3>
			<p>
				{body}
			</p>
		</div>
		<div class="box">
			<img src={imgSrc} alt="" loading="lazy">
		</div>
	</div>
</a>

