---
import ExperienceItem from "./ExperienceItem.astro";
import '../styles/experience.css'
const EXPERIENCE = [
    {
        date: "July 2021 - Actually",
        title: "Full stack at Crateronfire",
        description: "Responsible for developing the design and functionality of websites based on provided designs, ensuring a seamless user interface (UI) experience. Additionally, involved in creating and maintaining APIs for handling application data, fetching data from external APIs, and managing databases.",
    },
    {
        date: "January 2021",
        title: "Internship at Software Allies",
        description: "Gained valuable experience by learning the workflows and methodologies of a leading development company in the region. Acquired skills in creating and manipulating objects using Salesforce's CRM.",
    },
    {
        date: "2016 - 2020",
        title: "Bachelor's Degree in Telematics Engineering",
        description: "Universidad de Guadalajara",
    }
]
---

<section id="experience">
    <div class="container" style="max-width: 900px;">
        <h2>Experience</h2>
        <ol>
            {EXPERIENCE.map( item => (
                <ExperienceItem {...item}/>
            ))}
        </ol>
    </div>
</section>
