---
import Hamburger from "../components/Hamburger.astro";
import '../styles/header.css'
import CodeIcon from "../icons/CodeIcon.astro";
import ThemeIcon from "../components/ThemeIcon.astro"
---
<header id="header">
    <!-- <CodeIcon class="social-icon"></CodeIcon> -->
    <div class="items-wrapper container">
        <!-- <ThemeIcon></ThemeIcon> -->
        <nav class="nav-items">
            <a href="#top">About me</a>
            <a href="#experience">Experience</a>
            <a href="#projects">Projects</a>
            <a href="#top">Contact</a>
        </nav>
        <Hamburger></Hamburger>
    </div>
    <!-- <Hamburger /> -->
</header>

<script>
const header = document.querySelector('#header')
window.addEventListener('scroll', () => {
    if (header && window.scrollY > 100) {
        header.classList.add('scrolled')
    } else {
        header.classList.remove('scrolled')
    }
})

document.addEventListener('DOMContentLoaded', () => {
    if (header && window.pageYOffset > 100) {
        header.classList.add('scrolled')        
    }
})

</script>

