<header>
    <nav>
        <a href="#top">About me</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Profesional projects</a>
        <a href="#contact">Contact me</a>
    </nav>
</header>