---
import '../styles/global.css'
// Supports weights 100-900
import '@fontsource-variable/inter';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Web Developer with over 2 years of experience as Full Stack Dev. Specializing in the development and maintenance of web solutions for businesses" />
		<meta name="keywords" content="portfolio, fullstack, developer, php, js, html, css, web">
		<meta name="author" content="Carlos Enrique Jimenez Hernandez">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script>
			import '../../scripts/menu'
		</script>
	</body>
</html>

